.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  min-width: unset!important;
  min-height: unset!important;
}

.center{
  width: 75%;
  margin: 10px auto;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card{
  background-color: #dfc8ff;
}
