<p>

</p>
<div class="main-div">
  <mat-card fclass="z-depth center" flex="50">
    <p>Search hotel</p>
    <form class="example-form" (submit)="searchHotel()" [formGroup]="searchForm">
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field appearance="fill" >
          <mat-label>Checkin date</mat-label>
<!--          <input type="date" matInput  placeholder="">-->
<!--          name="checkingDate" formControlName="checkingDate">-->
          <input type = "date" matInput name="checkingDate" formControlName="checkingDate" >


        </mat-form-field>
        <p> &nbsp;&nbsp;&nbsp; </p>
        <mat-form-field appearance="fill" >
          <mat-label>Number of Nights</mat-label>
          <input type="number" min="1" max="30" step="1" value="1" matInput
          name="numberOfNights" formControlName="numberOfNights" >
        </mat-form-field>
        <p> &nbsp;&nbsp;&nbsp; </p>
        <div>
          <mat-label>Add room</mat-label>
          <button type="button" mat-flat-button color="primary" (click)="addRoomsAdults()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <p> &nbsp;&nbsp;&nbsp; </p>

        <div >
          <div formArrayName="roomsAdults">
          <div *ngFor="let roomType of roomsAdultsForm.controls; let i=index">
            <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="center center">
              <mat-label>room: {{i+1}}</mat-label>
              <mat-form-field appearance="fill" >
                <mat-label>Number of Adults</mat-label>
                <input type="number" min="1" max="5" step="1" matInput formControlName="numberOfAdults">
              </mat-form-field>

              <button type="button" mat-flat-button color="primary" (click)="deleteRoomsAdults(i)" color="warn" *ngIf="i!=0;">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        </div>
        <div>
          <button mat-flat-button color="primary" type="submit">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>



    </form>
  </mat-card>
</div>
