<p> </p>
<div class="padding">
  <p> Following hotels are matching for your search</p>
  <div class="content padding" fxLayout="row wrap" fxLayoutGap="15px grid" >
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let searchResult of searchResults ">
      <app-search-result [parentData]="searchResult"> </app-search-result>
    </div>
  </div>
</div>

