<div class="main-div">
  <mat-card  class="z-depth center" flex="50">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h1>Add Contract</h1>
    </div>

    <form class="example-form" (ngSubmit)="addContract()" [formGroup]="addContractForm" >

      <div class="mat-form-field--inline">

           <mat-form-field appearance="fill">
             <mat-label> Starting Date:  </mat-label>
             <input type = "date" matInput name="startDate" formControlName="startDate">
           </mat-form-field>

          <mat-form-field  appearance="fill">
            <mat-label> Ending Date:  </mat-label>
            <input  type="date" matInput name="endDate" formControlName="endDate">
          </mat-form-field>

      </div>

      <div class="mat-form-field--inline">

          <mat-form-field appearance="fill">
            <mat-label class="align-self-center"> Markup:   </mat-label>
            <input matInput type="number" min="1" max="99" placeholder="Markup as percentage" name="markup" formControlName="markup" >
            <p matSuffix>%</p>
          </mat-form-field>

      </div>

      <p>

      </p>
      <mat-divider></mat-divider>
      <p>

      </p>
      <h3> Hotel Details </h3>
      <div formGroupName="hotel">

        <div class="mat-form-field--inline">
          <mat-form-field appearance="fill">
            <mat-label> Select Hotel: </mat-label>
            <mat-select name="hotelId" formControlName="hotelId">
              <mat-option [value] =initialId>
                None
              </mat-option>
              <mat-option *ngFor="let hotel of hotels" [value]="hotel.hotelId">
                {{hotel.name}} - {{hotel.location}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      <div *ngIf="show;else elseBlock">

        <div class="mat-form-field--inline">
            <mat-form-field appearance="fill">
              <mat-label> Name:   </mat-label>
              <input matInput placeholder="Hotel name" name="name" formControlName="name"   >
              <mat-hint>Hotel name</mat-hint>
              <mat-error
                *ngIf="hotelName.hasError('required')">
                Hotel name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
        </div>

        <div class="mat-form-field--inline">

            <mat-form-field appearance="fill">
              <mat-label> Type:   </mat-label>
              <input matInput placeholder="Hotel type" name="type" formControlName="type">
              <mat-error
                *ngIf="hotelType.hasError('required')">
                Hotel type is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label> Location:   </mat-label>
              <input matInput placeholder="Hotel location" name="location" formControlName="location"  >
              <mat-error
                *ngIf="hotelLocation.hasError('required')">
                Hotel location is <strong>required</strong>
              </mat-error>
            </mat-form-field>

        </div>

        <div class="mat-form-field--inline">

            <mat-form-field appearance="fill">
              <mat-label> Telephone:   </mat-label>
              <input type="tel" matInput placeholder="Telephone" name="telephone" formControlName="telephone"  >
              <mat-error
                *ngIf="hotelTele.hasError('required')">
                Hotel telephone is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label> Email:   </mat-label>
              <input type="email" formControlName="email" matInput placeholder="Hotel email" ngModel email >
              <mat-error
                *ngIf="hotelEmail.hasError('required')">
                Hotel email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

        </div>
        <mat-divider></mat-divider>

        </div>

      </div>
      <div  *ngIf="show;">
        <h3>Room Types</h3>
        <div formArrayName="roomTypes">

          <div *ngFor="let roomType of roomTypeForms.controls; let i=index">
            <div [formGroupName]="i" class="mat-form-field--inline">

              <mat-form-field appearance="fill" >
                <mat-label>Room Type</mat-label>
                <input matInput name="type" formControlName="type" placeholder="Room Type">
              </mat-form-field>
              <mat-form-field  appearance="fill">
                <mat-label>Max adults</mat-label>
                <input matInput type="number" max="5" min="1" value="1" name="maxAdults" formControlName="maxAdults" placeholder="Max adults">
              </mat-form-field>

              <mat-form-field  appearance="fill">
                <mat-label>Number of rooms</mat-label>
                <input matInput type="number" min="1" value="1" name="noRoom" formControlName="noRooms" placeholder="number of rooms">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Price</mat-label>
                <input matInput type="number" step="500" min="1000" value="1000"  name="price" formControlName="price" placeholder="price">
              </mat-form-field>


              <button type="button" (click)="deleteRoomType(i)" mat-raised-button color="warn">Delete</button>
            </div>
          </div>
        </div>

        <div fxLayoutAlign="end start">
         <button type="button" (click)="addRoomType()" mat-raised-button color="primary">Add Room Type</button>
        </div>
      </div >


      <ng-template #elseBlock>
        <p> <strong>Name: </strong> {{selectedHotel.name}}</p>
        <p> <strong>Type: </strong> {{selectedHotel.type}}</p>
        <p> <strong>Location: </strong>{{selectedHotel.location}}</p>
        <p> <strong>Telephone: </strong>{{selectedHotel.telephone}}</p>
        <p> <strong>Email: </strong>{{selectedHotel.email}}</p>

        <mat-divider></mat-divider>
        <div>
          <h3>Room Types</h3>
          <div formArrayName="roomTypes">



            <div *ngFor="let roomType of roomTypeForms.controls; let i=index">
              <div [formGroupName]="i">

                <div  class="mat-form-field--inline">
                  <mat-form-field appearance="fill">
                    <mat-label> Select Room Type: </mat-label>
                    <mat-select name="roomTypeId" formControlName="roomTypeId">
                      <mat-option [value] =initialId>
                        None
                      </mat-option>
                      <mat-option *ngFor="let roomType of selectedHotel.roomTypes" [value]="roomType.roomTypeId">
                        {{roomType.type}} - {{roomType.maxAdults}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <input  type="hidden"
                       placeholder="Processing Order"
                       [ngModel]="i"
                       formControlName="processingOrder"/>
                <div  class="mat-form-field--inline">
                  <ng-template [ngIf]="booleanArray[i]">
                    <mat-form-field class="xs">
                      <input matInput name="type" formControlName="type" placeholder="Room Type">
                    </mat-form-field>
                    <mat-form-field class="xs">
                      <input matInput type="number" max="5" min="1" value="1" name="maxAdults" formControlName="maxAdults" placeholder="Max adults">
                    </mat-form-field>
                  </ng-template>

                  <mat-form-field class="xs">
                    <input matInput type="number" min="1000" step="500" name="noRoom" formControlName="noRooms" placeholder="number of rooms">
                  </mat-form-field>
                  <mat-form-field class="xs">
                    <input matInput name="price" formControlName="price" placeholder="price">
                  </mat-form-field>


                  <button type="button" (click)="deleteRoomType(i)" mat-raised-button color="warn">Delete</button>
                </div>
              </div>
            </div>
          </div>

          <div fxLayoutAlign="end start">
            <button type="button" (click)="addRoomType()" mat-raised-button color="primary">Add Room Type</button>
          </div>
        </div>
      </ng-template>


      <div fxLayoutAlign="center center">
        <button type="submit" mat-raised-button color="primary" [disabled]="addContractForm.invalid">Submit</button>
      </div>
    </form>
  </mat-card>

</div>


