.mat-form-field--inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mat-form-field--inline .mat-form-field {
  width: 100%;
  vertical-align: middle;
  margin-right: 10px;
}

mat-form-field label {
  font-size: 20px;
}

mat-form-field.mat-form-field-should-float label {
  font-size: 13px;
}

.center{
  width: 75%;
  margin: 10px auto;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card{
  background-color: #dfc8ff;
}
