<p> </p>
<div class="content" fxLayout="row" fxLayoutGap="15px grid" >
  <div fxFlex="75%">
    <form>
      <mat-tab-group [selectedIndex]="selectedIndex">
        <div *ngFor="let room of searchInput.roomsAdults;  let i=index">
        <mat-tab label="Room {{i+1}}" [disabled]="true">

          <div class="padding">
            <mat-radio-group aria-label="Select an option">
              <div class="content padding" fxLayout="row wrap" fxLayoutGap="5px grid" >
                <div  fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let resultedRoom of hotel.rooms " >
                  <div *ngIf="resultedRoom.maxAdults == room.numberOfAdults">
                    <mat-radio-button  [value]="resultedRoom.contractsRoomTypesKey">
                      <mat-card>
                        <mat-card-header>
                          <mat-card-title> {{resultedRoom.type}}</mat-card-title>
                          <mat-card-subtitle>{{resultedRoom.maxAdults}}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="./assets/room.jpg" />
                        <mat-card-content>
                          <p>Rs. {{resultedRoom.price}}</p>
                        </mat-card-content>
                      </mat-card>
                    </mat-radio-button>

                  </div>
                </div>
              </div>
            </mat-radio-group>

            <div class="padding" fxLayout="row" fxLayoutAlign="end right">
              <button type="button" mat-button (click)="selectTab(i-1)" *ngIf="i!=0">BACK</button>
              <button type="button" mat-raised-button (click)="selectTab(i+1)" *ngIf="i+1!=searchInput.roomsAdults.length" color="primary">NEXT</button>
              <button type="submit" mat-raised-button (click)="selectTab(i+1)" *ngIf="i+1==searchInput.roomsAdults.length" color="primary">SUBMIT</button>

            </div>

          </div>
        </mat-tab>
      </div>
      </mat-tab-group>
    </form>
  </div>
  <div fxFlex="25%">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Price</mat-card-title>
      <mat-card-subtitle>{{hotel.hotel.name}} - {{hotel.hotel.location}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div>
        <p><strong>Hotel Contact</strong></p>
        <p>{{hotel.hotel.email}}</p>
        <p>{{hotel.hotel.telephone}}</p>
      </div>
      <mat-divider></mat-divider>
      <div *ngFor="let room of searchInput.roomsAdults;  let i=index">
        <p><strong>Room {{i+1}}</strong></p>
        <p>Number of adult(s): {{room.numberOfAdults}}</p>
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>
  </mat-card>
</div>
</div>
