table {
  width: 100%;
}

th {
  text-align: left;
}

.center{
  width: 75%;
  margin: 10px auto;
}

.main-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-form-field {
  width: 75%;
  vertical-align: middle;
  margin-right: 10px;
}

.mat-card{
  background-color: #dfc8ff;
}

.mat-expansion-panel{
  background-color: #ce97ff;
}
