
<div class="z-depth center">
  <mat-form-field appearance="fill">
    <input matInput type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search by hotel name">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<div class="main-div" *ngFor="let contract of contracts | filter:searchText">

      <mat-card class="z-depth center" flex="50">
        <h2 class="card-title">    {{contract.hotel.name}} </h2>

        <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
          <div fxFlex="50%">
            <p><strong> From: </strong> {{contract.startDate | date: 'dd/MM/yyyy'}}</p>
          </div>
          <div fxFlex="50%">
            <p><strong> To: </strong>{{contract.endDate | date: 'dd/MM/yyyy'}}</p>
          </div>
        </div>
        <p><strong> Markup: </strong>{{contract.markup}} % </p>


        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Hotel Details</strong>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><strong> Name: </strong>{{contract.hotel.name}}</p>
          <p><strong> Type: </strong>{{contract.hotel.type}}</p>
          <p><strong> Location: </strong>{{contract.hotel.location}}</p>
          <p><strong> Telephone: </strong>{{contract.hotel.telephone}}</p>
          <p><strong> Email: </strong>{{contract.hotel.email}}</p>
        </mat-expansion-panel>

        <p> </p>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <strong>Room Types</strong>
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table cdk-table [dataSource]="contract.roomTypes">
            <ng-container cdkColumnDef="type">
              <th cdk-header-cell *cdkHeaderCellDef> Type </th>
              <td cdk-cell *cdkCellDef="let row"> {{row.type}} </td>
            </ng-container>


            <ng-container cdkColumnDef="maxAdults">
              <th cdk-header-cell *cdkHeaderCellDef> Max adults </th>
              <td cdk-cell *cdkCellDef="let row"> {{row.maxAdults}} </td>
            </ng-container>

            <!-- Title Definition -->
            <ng-container cdkColumnDef="noRooms">
              <th cdk-header-cell *cdkHeaderCellDef> No. Rooms </th>
              <td cdk-cell *cdkCellDef="let row"> {{row.noRooms}} </td>
            </ng-container>

            <ng-container cdkColumnDef="price">
              <th cdk-header-cell *cdkHeaderCellDef> Price </th>
              <td cdk-cell *cdkCellDef="let row"> {{row.price}} </td>
            </ng-container>
            <!-- Header and Row Declarations -->
            <tr cdk-header-row *cdkHeaderRowDef="['type', 'maxAdults', 'noRooms', 'price']"></tr>

            <tr cdk-row *cdkRowDef="let row; columns:['type', 'maxAdults', 'noRooms', 'price']"></tr>
          </table>
        </mat-expansion-panel>



      </mat-card>
  <p> </p>

</div>


