<mat-card class="mat-elevation-z4">
  <mat-card-header>
    <mat-card-title>{{parentData.hotel.name}} </mat-card-title>
    <mat-card-subtitle>{{parentData.hotel.location}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="./assets/hotel.jpg" />
  <mat-card-content>
    <p>{{parentData.hotel.type}}</p>
    <p>{{parentData.hotel.telephone}}</p>
    <p>{{parentData.hotel.email}}</p>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="center center" >
    <button mat-button (click)="onClick()">SELECT</button>
  </mat-card-actions>
</mat-card>
