<!--  <nav class="navbar navbar-dark navbar-expand-sm fixed-top bg-warning">-->
<!--    <div class="col-3 container align-self-center">-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
<!--  &lt;!&ndash;    <a class="navbar-brand mr-auto" href="#"><img src="img/logo.png" height="30" width="41"></a>&ndash;&gt;-->
<!--      <div class="collapse navbar-collapse" id="Navbar">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--          <li class="nav-item active"><a class="nav-link" href="#"><span class="fa fa-sun-o fa-lg"></span> SunTravels</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-8"></div>-->
<!--    <div class="col-2 container align-self-center">-->

<!--    </div>-->
<!--  </nav>-->


<link rel="stylesheet" href="navigation.component.css">
<nav class="fixed-top">
  <mat-toolbar color="primary">
    <mat-toolbar-row >
      <span class="fa fa-sun-o fa-lg"></span>
      <p> </p>
      <h1> Sun travels</h1>
      <span class="menu-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
